body {
  background-color: rgb(25, 25, 55);
}

div[authentic-form] {
  width: 350px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: rgb(12, 24, 41);
  margin-left: calc((100% - 350px) / 2);
}

form[login] {
  padding: 15px 60px;
}

form[register] {
  padding: 15px 30px;
  margin-bottom: 15px;
}

form > label, input {
  width: 100%;
  font-size: 12px;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
}

form > label {
  color: chocolate;
}

input {
  padding: 6px;
  border: none;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus {
  border-radius: 4px;
  border: 2px solid rgb(15, 70, 219);
}

input[type="submit"] {
  width: 150px;
  cursor: pointer;
  margin-top: 15px;
  background: none;
  border-radius: 6px;
  color: rgb(81, 238, 165);
  border: 1px solid rgb(15, 219, 209);
  margin-left: calc((100% - 160px) / 2);
}

input[type="submit"]:focus {
  border: none;
}

[form-title] {
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
  color: rgb(212, 20, 203);
}

[gender-cont] {
  padding: 2px 6px;
  border-radius: 4px;
  border: 2px solid goldenrod;
}

input[type="radio"] {
  margin-bottom: 6px;
}

[gender] {
  font-size: 12px;
  display: inline-block;
  color: rgb(233, 230, 218);
  width: calc((100% - 30px) / 4);
}

[gender][title-lab] {
  width: 50px;
  color: rgb(206, 62, 19);
}

[gender] > input {
  width: auto;
}
