div[box-layout] {
  margin-top: 40px;
}

[diary-address] > div {
  float: left;
  display: inline-block;
}

[address-repo] {
  right: 0;
  width: 300px;
  height: 100%;
  position: fixed;
  background-color: rgb(27, 26, 26);
}

[addr-repo-header] {
  padding: 5px;
  height: 34px;
  background-color: rgb(180, 17, 25);
}

[addr-repo-header] > img, 
[addr-repo-header] > span {
  float: left;
  display: inline-block;
}

[addr-repo-header] > img {
  width: 24px;
  height: 24px;
}

[addr-repo-header] > span {
  font-size: 15px;
  padding-top: 3px;
  text-align: center;
  width: calc(100% - 24px);
  font-family: 'Trebuchet MS';
}

[addr-repo-search-e] {
  height: 35px;
  margin: 15px 5px;
  margin-top: 25px;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, .05);
}

[addr-repo-search-e] img, [addr-repo-search-e] input {
  float: left;
  display: inline-block;
}

[addr-repo-search-e] img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 6px;
}

[addr-repo-search-e] input {
  border: none;
  height: 100%;
  outline: none;
  padding: 0 7px;
  font-size: 13px;
  background: none;
  margin-right: 5px;
  color: chartreuse;
  width: calc(100% - 30px);
  border-right: 2px solid rgba(255, 255, 255, .05);
}

[address-form] {
  padding: 50px;
  width: calc(100% - 300px);
}

[addr-menu-top-bar] {
  height: 50px;
  border-bottom: 2px dashed rgb(36, 34, 34);
}

[addr-top] {
  float: left;
  display: inline-block;
}

img[addr-top] {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 5px 20px;
}

span[addr-top] {
  padding: 0 10px;
  padding-top: 15px;
  color: chartreuse;
  width: calc(100% - 240px);
  font-family: 'Trebuchet MS';
}

[addr-fo-fie] {
  margin-top: 30px;
  position: relative;
  border-radius: 10px;
  background-color: rgb(32, 34, 34);
}

[addr-fo-fie] form {
  padding: 30px;
  padding-left: 50px;
  padding-bottom: 70px;
  margin-right: calc(100% - 400px);
}

[addr-fo-fie] > img { 
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  border: 8px solid rgb(28, 29, 29);
}

[addr-fo-fie] img[profpic] {
  top: -15px;
  right: -10px;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 255, 255, .5);
}

[addr-fo-fie] img[savepic] {
  bottom: -60px;
  left: 370px;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 255, 0, .4);;
}

form input, form label  {
  width: 100%;
}

form input {
  color: aqua;
  outline: none;
  margin-top: 5px;
  background: none;
  padding: 7px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid rgba(154, 160, 212, .4);
  font-family: 'Courier New', Courier, monospace;
}

form > label {
  font-size: 14px;
  color: rgb(224, 45, 186);
  font-family: 'Courier New', Courier, monospace;
}
