[cont-nav-el] {
  padding: 30px;
  margin: 0 20%;
  margin-top: 60px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(25, 12, 25);
}

[cont-nav-el] > img {
  margin-right: 15px;
  max-width: 200px;
  float: left;
}

[cont-nav-el] label {
  font-size: 25px;
  padding-bottom: 15px;
  font-weight: bolder;
  text-align: center;
  color: rgb(172, 23, 93);
  font-family: 'Trebuchet MS';
}

[cont-nav-el] span, [cont-nav-el] label {
  display: block;
}

[cont-nav-el] span {
  color: #FFFF;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
  margin-top: 50px;
  min-height: 200px;
  background-color: rgb(143, 45, 82);
}
