[i-header] {
  padding: 2px 30px;
  border-bottom: 2px solid rgba(223, 197, 224, .2);
}

[iheader-els] {
  padding: 4px 0;
  display: inline-block;
}

[iheader-els] img {
  width: 45px;
}

[iheader-els] span {
  float: right;
  color: #cc3;
  font-size: 18px;
  padding-top: 10px;
}

[cname-first-radical] {
  color: rgb(18, 198, 243);
}

[left-link] {
  margin: 2px;
  float: right;
  color: #000;
  font-size: 13px;
  margin-top: 20px;
  padding: 2px 10px;
  font-family: 'Trebuchet MS';
}

[i-body] {
  padding: 2px 20px;
}

[i-nav] {
  display: inline-block;
  width: calc(100% - 260px);
}

[nav-element] {
  margin: 8px 0;
}

[i-nav][at-right] {
  width: 250px;
}

form {
  padding: 15px;
  border-radius: 0 0 5px 5px;
  background-color: rgb(161, 163, 168);
}

form > label, input {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 4px;
  font-size: 12px;
  margin: 4px 0;
  width: 100%;
}

form > label {
  color: chocolate;
}

input {
  padding: 6px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid rgba(20, 187, 173, 0.5);
}

input:focus {
  border-radius: 4px;
  border: 2px solid rgb(15, 70, 219)
}

input[type="submit"] {
  width: 150px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 10px;
  margin-left: calc((100% - 160px) / 2);
}

[form-title] {
  padding: 5px;
  font-size: 12px;
  text-align: center;
  color: rgb(212, 20, 203);
  border-radius: 5px 5px 0 0;
  background-color: rgb(25, 51, 76);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

[gender] {
  width: calc((100% - 10px) / 3);
  font-size: 12px;
  display: inline-block;
  color: rgb(233, 230, 218);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

[gender] > input {
  width: auto;
}
