body {background-color: #fff;}

div[box-layout] {
  margin-top: 40px;
}

[active-link] span {
  color: skyblue;
}

[diary-note] {
  margin-left: 30px;
  position: absolute;
  width: calc(100% - 30px);
  height: calc(100% - 40px);
  background-color: rgb(28, 29, 29);
}

[note-menu-bar] {
  height: 70px;
  background-color: #000;
}

[dia-note] {
  float: left;
  display: inline-block;
}

div[note-left-nav], div[note-r8t-nav] {
  width: 50px;
  overflow: auto;
  height: calc(100% - 70px);
  background-color: rgb(0, 8, 8);
}

div[note-left-nav] {
  padding: 20px 12.5px;
}

div[note-left-nav]::-webkit-scrollbar, 
div[note-r8t-nav]::-webkit-scrollbar {
  display: none;
}

div[note-textField] {
  width: calc(100% - 400px);
  height: calc(100% - 70px);
}

div[note-textInput] {
  width: 100%;
  outline: none;
  padding: 20px;
  background: none;
  height: calc(100% - 50px);
  color: rgb(220, 255, 246);
}

div[note-low-nav] {
  height: 50px;
  background-color: #000;
}

div[note-entry-lists] {
  width: 300px;
  height: calc(100% - 70px);
}

[n-m-child] {
  float: left;
  display: inline-block;
}

[entry-file-ctrls], div > input[n-m-child] {
  border-right: 2px solid rgb(26, 25, 25);
}

input[n-m-child] {
  width: 30%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 20px;
  background: none;
  color: rgb(180, 6, 113);
  font-family: 'Trebuchet MS';
}

div[n-m-child] {
  width: 35%;
  overflow: auto;
  padding: 22.5px 10px;
}

div[n-m-child]::-webkit-scrollbar {
  display: none;
}

div[n-m-child] img, div[n-m-child] div {
  float: left;
  width: 25px;
  height: 25px;
  display: inline-block;
}

div[n-m-child] img:not(:last-child) {
  margin-right: 20px;
}

div[n-m-child] div[font-family] {
  width: 150px;
  padding: 0 1px;
  border-radius: 3px;
  background-color: rgb(28, 29, 29);
}

div[font-family] [f-f-ctrl] {
  float: left;
  display: inline-block;
}

div[font-family] img {
  width: 25px;
  height: 23px;
}

div[n-m-child] > img:first-child {
  margin-left: 20px;
}

div[n-m-child] > img, [side-m-img] {
  cursor: pointer;
}

div[font-family] select {
  width: 118px;
  height: 23px;
  border: none;
  outline: none;
  font-size: 11px;
  background: none;
  margin-left: -17px;
  color: orangered;
}

[note-left-nav] [side-m-img] {
  width: 25px;
  height: 25px;
}

[side-m-img]:not(:last-child) {
  margin-bottom: 25px;
}

[note-left-nav] [side-m-img]:nth-child(5) {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

[note-r8t-nav] > img[side-m-img] {
  width: 50px;
  height: 35px;
  padding: 0 7.5px;
}

[note-r8t-nav] > img[side-m-img]:first-child {
  height: 50px;
  padding: 12.5px;
  background-color: orangered;
}
